Repository ordxfun/wallet-connect: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c .eslintrc.json --max-warnings=0 --fix, prettier --write

docs: rename project to wallet-connect and update references
  README.md
Due: prettier --write

chore: remove commit message length restriction
  .commitlintrc.cjs
  test.txt
Due: none

fix: update README to reflect new project name and usage instructions
  test-verification.txt
Due: none

chore: update package names and repository references for wallet-connect
  .changeset/config.json
  package.json
  packages/sats-wagmi/package.json
  test-verification.txt
  test.txt
Due: prettier --write

chore: fix build configuration and successfully publish package to npm
  .npmrc
  clean-package.config.json
  packages/sats-wagmi/package.json.backup
  packages/sats-wagmi/tsup.config.ts
Due: eslint -c .eslintrc.json --max-warnings=0 --fix, prettier --write

chore: bump version to 0.3.24
  packages/sats-wagmi/CHANGELOG.md
  packages/sats-wagmi/package.json
Due: prettier --write

chore: update dependencies and improve build scripts
  .github/common-actions/install/action.yml
  .github/dependabot.yml
  .github/workflows/release.yaml
Due: prettier --write

fix: regenerate pnpm-lock.yaml to resolve CI dependency sync issue
  pnpm-lock.yaml
Due: none

refactor: rename package references from @gobob/sats-wagmi to @ordxfun/wallet-connect in project files
  packages/sats-wagmi/CHANGELOG.md
  playgrounds/vite-react/package.json
  playgrounds/vite-react/src/App.tsx
  playgrounds/vite-react/src/Gateway.tsx
  playgrounds/vite-react/src/main.tsx
Due: eslint -c .eslintrc.json --max-warnings=0 --fix, prettier --write

chore: update package.json and pnpm-lock.yaml with new devDependencies, adjust main entry points, and enhance build scripts
  .eslintcache
  packages/sats-wagmi/package.json
  packages/sats-wagmi/src/hooks/useSendGatewayTransaction.tsx
  playgrounds/vite-react/tsconfig.json
  pnpm-lock.yaml
  scripts/setup-test.ts
Due: eslint -c .eslintrc.json --max-warnings=0 --fix, prettier --write

chore: remove .eslintcache file to clean up project structure
  .eslintcache
Due: none

chore: clean up project structure by removing unused files and updating configuration settings
  .changeset/nine-pets-care.md
Due: prettier --write

chore: version packages to 0.3.25 and update workflow configuration
  .changeset/config.json
  .changeset/nine-pets-care.md
  .github/workflows/release.yaml
  clean-package.config.json
  packages/sats-wagmi/package.json
Due: prettier --write

fix: correct clean-package config path for CI environment
  packages/sats-wagmi/package.json
Due: prettier --write

Path conditions:
  eslint -c .eslintrc.json --max-warnings=0 --fix: any of: **/*.{ts,tsx,js,jsx}
  prettier --write: (any of: **/*.{md,mdx,yml,json,eslintrc.json,prettierrc.json}) or (any of: **/*.css)
